
{{!-- for each post it will display the title and the date created at --}}

  {{!-- this will then be inserted into the body of the dashboard handlebars --}}
  
<div class="posts list-group">

  {{#each posts}}

    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>

  {{/each}}

</div>